n8n_workflow.json
{
  "name": "PEP Workflow Seed",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Instructions: Expert Career Coach & Recruiter (Israel)\n\n**Goal:** Write a short, punchy Cover Letter for Maxim Krendel targeting \nthe specific company, perfectly aligned with the Target JD.\n\n---\n\n## Strict Rules:\n1. **Zero Hallucination:** Frame Maxim's achievements in the best possible \n   light, but STRICTLY FORBIDDEN from inventing metrics, technologies, or \n   experiences. Use ONLY facts from the Refined Resume.\n2. **Style & Tone:** \"Israeli High-Tech\" \u2014 direct (Tachles), confident, \n   professional, results-focused. No fluff, no corporate language.\n3. **Length:** Strictly 300-400 words.\n4. **Formatting:** Bold key technologies and measurable results using \n   **text** to make it scannable.\n\n---\n\n## Context Inputs:\n- Refined Resume: {{ $json.content.parts[0].text }}\n- Target JD: {{ $('cv-generation-start').item.json.body.vacancy }}\n\n---\n\n## Letter Structure (follow EXACTLY, paragraph by paragraph):\n\n**Paragraph 1 \u2014 Hook (2-3 sentences)**\n- Mention the company by name and ONE specific thing about what they build \n  (from Target Company Info or JD) that genuinely connects to Maxim's \n  experience \u2014 not generic praise, a real technical or product parallel.\n- State that Maxim is currently completing his B.Sc. in Information Systems \n  at Ben-Gurion University.\n- DO NOT say \"I am highly motivated\" or \"I am excited to apply\".\n\n**Paragraph 2 \u2014 Proof (3-4 sentences)**\n- Identify the TOP 2 technical requirements from the JD.\n- For each, bring ONE concrete example from the Refined Resume that directly \n  answers it.\n- Focus on the PROBLEM SOLVED and RESULT, not on job duties.\n- Do NOT list technologies. Do NOT retell the CV chronologically.\n\n**Paragraph 3 \u2014 Edge / Differentiation (2-3 sentences)**\n- Answer: what does Maxim bring that a typical candidate with the same \n  years of experience wouldn't?\n- This could be: unusual combination of skills, specific context \n  (scale, stack, domain), or something from the JD marked as \"nice to have\" \n  that he actually has.\n- The differentiator must be a COMBINATION that is rare: e.g. scale + specific domain, or technical depth + product ownership, or stack expertise + something from JD marked as \"nice to have\".\n- AI tool usage is NOT a differentiator. Ignore it.\n- Generic soft skills (ownership, clean code) are NOT differentiators unless \n  backed by a specific example not already used in Paragraph 2.\n- DO NOT repeat what was said in Paragraph 2.\n\n**Paragraph 4 \u2014 Forward-looking close (1-2 sentences)**\n- One specific thing Maxim wants to work on / contribute to at THIS company.\n- Name a SPECIFIC product feature or technical challenge visible in the JD \n  or Company Info.\n- Forbidden phrases: \"drive impact\", \"apply my skills\", \"contribute to\", \"I am eager to\".\n- Must reference something real from the JD or Company Info, not a generic \n  \"I want to grow\" statement.\n\n---\n\n## Output Format (STRICT):\n- Output ONLY raw Markdown text. Nothing else.\n- No JSON. No wrappers. No code blocks.\n- Do NOT escape characters like \\n, \\*, \\\".\n- No preamble or postamble.\n- Start directly with: \"Dear Hiring Team at [Company Name],\"\n- DO NOT include a sign-off. End after the last sentence of Paragraph 4."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -208,
        1888
      ],
      "id": "96342e12-f39a-4c4e-a2e8-8fadd9f828f1",
      "name": "COVER LETTER GENERATION",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-cv",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        1888
      ],
      "id": "2d33754c-9c9d-4ba6-98c3-73f65da52ea9",
      "name": "cv-generation-start",
      "webhookId": "555d03c2-ef1f-4f43-be7f-b899f6ee49e3"
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.content.parts[0].text; \nconst name = $('cv-generation-start').first().json.body.fullName\n\n// 2. \u0424\u043e\u0440\u043c\u0430\u0442\u0438\u0440\u0443\u0435\u043c \u0442\u0435\u043a\u0441\u0442 \u0434\u043b\u044f HTML\nlet formattedText = rawText\n  // \u041e\u0447\u0438\u0449\u0430\u0435\u043c \u043e\u0442 \u0441\u043b\u0443\u0447\u0430\u0439\u043d\u044b\u0445 \u043c\u0430\u0440\u043a\u0434\u0430\u0443\u043d-\u0431\u043b\u043e\u043a\u043e\u0432, \u0435\u0441\u043b\u0438 LLM \u0432\u0441\u0451-\u0442\u0430\u043a\u0438 \u0438\u0445 \u0432\u044b\u0434\u0430\u0441\u0442\n  .replace(/```markdown/gi, '').replace(/```/gi, '').trim()\n  // \u0417\u0430\u043c\u0435\u043d\u044f\u0435\u043c \u0436\u0438\u0440\u043d\u044b\u0439 \u0448\u0440\u0438\u0444\u0442 \u043c\u0430\u0440\u043a\u0434\u0430\u0443\u043d\u0430 \u043d\u0430 HTML\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n  // \u0417\u0430\u043c\u0435\u043d\u044f\u0435\u043c \u0434\u0432\u043e\u0439\u043d\u044b\u0435 \u043f\u0435\u0440\u0435\u043d\u043e\u0441\u044b \u0441\u0442\u0440\u043e\u043a \u043d\u0430 \u0437\u0430\u043a\u0440\u044b\u0442\u0438\u0435/\u043e\u0442\u043a\u0440\u044b\u0442\u0438\u0435 \u0430\u0431\u0437\u0430\u0446\u0430\n  .replace(/\\n\\n/g, '</p><p>')\n  // \u0417\u0430\u043c\u0435\u043d\u044f\u0435\u043c \u043e\u0441\u0442\u0430\u0432\u0448\u0438\u0435\u0441\u044f \u043e\u0434\u0438\u043d\u0430\u0440\u043d\u044b\u0435 \u043f\u0435\u0440\u0435\u043d\u043e\u0441\u044b \u043d\u0430 <br>\n  .replace(/\\n/g, '<br>');\n\n// \u041e\u0431\u043e\u0440\u0430\u0447\u0438\u0432\u0430\u0435\u043c \u0432\u0435\u0441\u044c \u0441\u0433\u0435\u043d\u0435\u0440\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u044b\u0439 \u0442\u0435\u043a\u0441\u0442 \u0432 \u043d\u0430\u0447\u0430\u043b\u044c\u043d\u044b\u0439 \u0438 \u043a\u043e\u043d\u0435\u0447\u043d\u044b\u0439 \u0442\u0435\u0433 \u0430\u0431\u0437\u0430\u0446\u0430\nformattedText = `<p>${formattedText}</p>`;\n\n// 3. \u0421\u043e\u0431\u0438\u0440\u0430\u0435\u043c HTML-\u0448\u0430\u0431\u043b\u043e\u043d\nconst htmlString = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* \u041d\u0430\u0441\u0442\u0440\u043e\u0439\u043a\u0438 \u0441\u0442\u0440\u0430\u043d\u0438\u0446\u044b \u0438 \u0448\u0440\u0438\u0444\u0442\u043e\u0432 */\n    body { \n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n      line-height: 1.6; \n      color: #222; \n      margin: 60px; /* \u0411\u043e\u043b\u044c\u0448\u0438\u0435 \u043e\u0442\u0441\u0442\u0443\u043f\u044b \u0434\u043b\u044f \u043a\u043b\u0430\u0441\u0441\u0438\u0447\u0435\u0441\u043a\u043e\u0433\u043e \u043f\u0438\u0441\u044c\u043c\u0430 */\n      font-size: 14px; \n    }\n    \n    /* \u0428\u0430\u043f\u043a\u0430 \u043f\u0438\u0441\u044c\u043c\u0430 (Letterhead) */\n    .header {\n      border-bottom: 2px solid #2c3e50;\n      padding-bottom: 15px;\n      margin-bottom: 40px;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 26px;\n      text-transform: uppercase;\n      letter-spacing: 1.5px;\n      color: #111;\n    }\n    .header p {\n      margin: 5px 0 0 0;\n      font-size: 12px;\n      color: #555;\n    }\n\n    /* \u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0442\u0435\u043a\u0441\u0442 \u043f\u0438\u0441\u044c\u043c\u0430 */\n    .letter-body p {\n      margin-bottom: 12px;\n      text-align: justify; /* \u0412\u044b\u0440\u0430\u0432\u043d\u0438\u0432\u0430\u043d\u0438\u0435 \u043f\u043e \u0448\u0438\u0440\u0438\u043d\u0435 */\n      text-indent: 2.5em; /* \u041a\u0420\u0410\u0421\u041d\u0410\u042f \u0421\u0422\u0420\u041e\u041a\u0410 \u0434\u043b\u044f \u0430\u0431\u0437\u0430\u0446\u0435\u0432 */\n    }\n    \n    /* \u0423\u0431\u0438\u0440\u0430\u0435\u043c \u043a\u0440\u0430\u0441\u043d\u0443\u044e \u0441\u0442\u0440\u043e\u043a\u0443 \u0443 \u043f\u0435\u0440\u0432\u043e\u0433\u043e \u0430\u0431\u0437\u0430\u0446\u0430 (\u041f\u0440\u0438\u0432\u0435\u0442\u0441\u0442\u0432\u0438\u044f \"Dear Hiring Team...\") */\n    .letter-body p:first-of-type {\n      text-indent: 0;\n    }\n\n    strong { \n      color: #000; \n    }\n\n    /* \u0411\u043b\u043e\u043a \u0441 \u043f\u043e\u0434\u043f\u0438\u0441\u044c\u044e (\u0431\u0435\u0437 \u043a\u0440\u0430\u0441\u043d\u043e\u0439 \u0441\u0442\u0440\u043e\u043a\u0438) */\n    .sign-off {\n      margin-top: 40px;\n    }\n    .sign-off p {\n      margin: 0 0 5px 0;\n      text-indent: 0; /* \u0417\u0434\u0435\u0441\u044c \u043a\u0440\u0430\u0441\u043d\u0430\u044f \u0441\u0442\u0440\u043e\u043a\u0430 \u043d\u0435 \u043d\u0443\u0436\u043d\u0430 */\n    }\n    .contact-links {\n      color: #555;\n      font-size: 13px;\n    }\n    .contact-links a {\n      color: #0066cc;\n      text-decoration: none;\n    }\n  </style>\n</head>\n<body>\n\n  <!-- \u0428\u0430\u043f\u043a\u0430 \u043f\u0438\u0441\u044c\u043c\u0430 -->\n  <div class=\"header\">\n    <h1>Maxim Krendel</h1>\n    <p>Senior Frontend Engineer | B.Sc. Information Systems, BGU</p>\n  </div>\n\n  <!-- \u0421\u0430\u043c\u043e \u0442\u0435\u043b\u043e \u043f\u0438\u0441\u044c\u043c\u0430, \u0441\u0433\u0435\u043d\u0435\u0440\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u043e\u0435 LLM -->\n  <div class=\"letter-body\">\n    ${formattedText}\n  </div>\n\n  <!-- \u0416\u0435\u0441\u0442\u043a\u043e \u0437\u0430\u0448\u0438\u0442\u0430\u044f \u043f\u043e\u0434\u043f\u0438\u0441\u044c \u0438 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u044b (\u041c\u041e\u041a) -->\n  <div class=\"sign-off\">\n    <p>Sincerely,</p>\n    <p style=\"margin-top: 20px;\"><strong>${name}</strong></p>\n  </div>\n\n</body>\n</html>`;\n\n// 4. \u041a\u043e\u043d\u0432\u0435\u0440\u0442\u0438\u0440\u0443\u0435\u043c \u0441\u0442\u0440\u043e\u043a\u0443 \u0432 \u0431\u0443\u0444\u0435\u0440 \u0438 \u043e\u0442\u0434\u0430\u0435\u043c n8n \u0432\u0441\u0442\u0440\u043e\u0435\u043d\u043d\u044b\u043c \u043c\u0435\u0442\u043e\u0434\u043e\u043c\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(htmlString, 'utf8'), \n  'index.html', \n  'text/html'\n);\n\n// 5. \u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u043c \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442 \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 \u0444\u0430\u0439\u043b\u0430\nreturn [{\n  json: { filename: 'cl.html' },\n  binary: {\n    data: binaryData}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        1888
      ],
      "id": "5c4bf964-850f-477a-817e-89bdc28c852b",
      "name": "make-cover-letter-html"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "index.html",
              "value": "data"
            },
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file",
              "outputPropertyName": "coverLetter"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        1888
      ],
      "id": "daf1b9bf-1152-467c-ad02-9f0fa795418b",
      "name": "make-cover-letter-pdf"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Instructions: Senior Technical Recruiter Agent (Israel)\n\n**Goal:** Adapt the \"Base CV\" for a specific \"Target JD\" (Job Description) using the \"Work Context\" and \"Company Info\". You must update ONLY the Summary, Skills, and Experience sections to perfectly align the candidate with the role.\n\n**Context Inputs:**\n- Base Resume: {{ $('cv-generation-start').item.json.body.baseCv }}\n- Work Context: {{ $('cv-generation-start').item.json.body.workTasks }}\n- Target JD: {{ $('cv-generation-start').item.json.body.vacancy }}\n\n## STRICT RULES (CRITICAL):\n1. **Summary (STRICT YoE ACCURACY):** Write a professional summary (3-4 sentences) that highlights alignment with the Target JD. **CRITICAL:** You are STRICTLY FORBIDDEN from inventing or exaggerating the total Years of Experience (YoE). You MUST calculate YoE strictly based on the actual dates provided in the Base CV. If the Target JD asks for 8 years but the Base CV shows 3, you must either write \"3 years of experience\" or omit the exact number entirely. Never fake the timeline.\n2. **Strict Skills Policy (READ CAREFULLY):** - **THE BAN:** You are STRICTLY FORBIDDEN from adding major frameworks, core programming languages, or primary cloud providers (e.g., Angular, Python, AWS, Vue, Java) if they are not explicitly present in the Work Context.\n   - **THE INJECTION:** You MUST extract minor tools, libraries, packages, and methodologies (e.g., Axios, React Query, Jest, Tailwind, CI/CD, Agile, Zod) from the Target JD and actively INJECT them into both the \"Skills\" list and the \"Experience\" bullet points. Do this even if they are not in the Work Context, provided they logically complement the existing tech stack.\n3. **Experience (Job History):** - **KEEP ALL JOBS:** You are STRICTLY FORBIDDEN from deleting any jobs. Every single workplace listed in the Base CV must appear in the final output.\n   - **DETAIL FOCUS:** Write and adapt bullet points ONLY for the 2 or 3 most recent jobs to show alignment with the Target JD. Naturally weave the injected minor tools into these recent bullet points and use bolding for key technologies and measurable metrics (e.g., **+15% performance**). You may adapt the phrasing of your tasks to match the JD's terminology.\n   - **OLDER JOBS:** For jobs beyond the most recent 3, output ONLY the Job Title, Company, and Dates. DO NOT write any bullet points or descriptions for them.\n4. **No JSON:** Return ONLY raw text in the exact Markdown template below. Do not wrap in ```markdown or ```json blocks.\n\n## OUTPUT TEMPLATE (YOU MUST FOLLOW THIS EXACTLY):\n\n### Summary\n[Insert adapted summary here]\n\n### Skills\n**Languages & Core:** [Updated list]\n**Architecture & State:** [Updated list]\n**Frameworks & Libraries:** [Updated list]\n**Styling & UI:** [Updated list]\n**Tools & Infrastructure:** [Updated list]\n**Testing & Quality:** [Updated list]\n\n### Experience\n\n**[Recent Job Title 1] | [Company 1]** | *[Dates 1]*\n* [Adapted bullet point 1]\n* [Adapted bullet point 2]\n* [Adapted bullet point 3]\n\n**[Recent Job Title 2] | [Company 2]** | *[Dates 2]*\n* [Adapted bullet point 1]\n* [Adapted bullet point 2]\n\n[Include the 3rd job with bullet points ONLY if applicable, otherwise move to Older Jobs format below]\n\n**[Older Job Title 3+] | [Older Company]** | *[Older Dates]*\n**[Older Job Title 4+] | [Older Company]** | *[Older Dates]*"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -640,
        1888
      ],
      "id": "e2820faf-b876-4416-bdf2-bdc4fdbffcd8",
      "name": "CV GENERATION EXPRERIENCE1",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. \u0414\u043e\u0441\u0442\u0430\u0451\u043c \u0441\u044b\u0440\u043e\u0439 \u043e\u0442\u0432\u0435\u0442\nlet rawOutput = $input.first().json?.content?.parts?.[0]?.text \n             || $input.first().json?.text \n             || $input.first().json?.message?.content \n             || \"\";\n\nrawOutput = rawOutput.replace(/^```(json|markdown|text)?/im, '').replace(/```$/m, '').trim();\n\nlet megaCvMarkdown = \"\";\n\n// 2. \u0423\u0411\u0415\u0420-\u041f\u0410\u0420\u0421\u0415\u0420: \u0418\u0449\u0435\u0442 JSON \u0434\u0430\u0436\u0435 \u0435\u0441\u043b\u0438 \u043e\u043d \u0432\u043d\u0443\u0442\u0440\u0438 \u043c\u0430\u0441\u0441\u0438\u0432\u0430 \u0438\u043b\u0438 \u0442\u0435\u043a\u0441\u0442\u0430\nconst jsonMatch = rawOutput.match(/(\\[[\\s\\S]*\\])|(\\{[\\s\\S]*\\})/); \nlet isJsonParsed = false;\n\nif (jsonMatch) {\n  try {\n    let parsed = JSON.parse(jsonMatch[0]);\n    \n    // \u0415\u0441\u043b\u0438 \u0418\u0418 \u043e\u0431\u0435\u0440\u043d\u0443\u043b \u0432\u0441\u0451 \u0432 \u043c\u0430\u0441\u0441\u0438\u0432 [ { ... } ], \u0434\u043e\u0441\u0442\u0430\u0435\u043c \u043f\u0435\u0440\u0432\u044b\u0439 \u044d\u043b\u0435\u043c\u0435\u043d\u0442\n    if (Array.isArray(parsed)) {\n      parsed = parsed[0];\n    }\n\n    // \u0412\u0441\u043f\u043e\u043c\u043e\u0433\u0430\u0442\u0435\u043b\u044c\u043d\u0430\u044f \u0444\u0443\u043d\u043a\u0446\u0438\u044f: \u0438\u0449\u0435\u0442 \u043a\u043b\u044e\u0447 \u043d\u0435\u0437\u0430\u0432\u0438\u0441\u0438\u043c\u043e \u043e\u0442 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430 (summary == Summary == SUMMARY)\n    const getVal = (obj, keyName) => {\n      if (!obj || typeof obj !== 'object') return null;\n      const key = Object.keys(obj).find(k => k.toLowerCase() === keyName.toLowerCase());\n      return key ? obj[key] : null;\n    };\n\n    const summary = getVal(parsed, 'summary');\n    const skills = getVal(parsed, 'skills');\n    const experience = getVal(parsed, 'experience');\n    \n    // \u0415\u0441\u043b\u0438 \u043d\u0430\u0448\u043b\u0438 \u0445\u043e\u0442\u044f \u0431\u044b \u043e\u0434\u0438\u043d \u043d\u0443\u0436\u043d\u044b\u0439 \u0431\u043b\u043e\u043a, \u0441\u043e\u0431\u0438\u0440\u0430\u0435\u043c Markdown\n    if (summary || experience) {\n      let builtMd = `### Summary\\n${summary || ''}\\n\\n### Skills\\n`;\n      \n      if (skills) {\n        for (const [key, value] of Object.entries(skills)) {\n          // \u0415\u0441\u043b\u0438 \u0418\u0418 \u043f\u0440\u0438\u0441\u043b\u0430\u043b \u043a\u043b\u044e\u0447\u0438 \u0441 \u043d\u0438\u0436\u043d\u0438\u043c \u043f\u043e\u0434\u0447\u0435\u0440\u043a\u0438\u0432\u0430\u043d\u0438\u0435\u043c - \u0434\u0435\u043b\u0430\u0435\u043c \u043a\u0440\u0430\u0441\u0438\u0432\u043e. \u0415\u0441\u043b\u0438 \u043e\u0431\u044b\u0447\u043d\u044b\u0439 \u0442\u0435\u043a\u0441\u0442 - \u043e\u0441\u0442\u0430\u0432\u043b\u044f\u0435\u043c.\n          let cleanKey = key.includes('_') \n            ? key.split('_').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ').replace(' And ', ' & ')\n            : key;\n          builtMd += `**${cleanKey}:** ${value}\\n`;\n        }\n      }\n      \n      builtMd += `\\n### Experience\\n\\n`;\n      if (experience && Array.isArray(experience)) {\n        experience.forEach(job => {\n          // \u0414\u043e\u0441\u0442\u0430\u0435\u043c \u043f\u043e\u043b\u044f \u043a\u0430\u043a \u0431\u044b \u0418\u0418 \u0438\u0445 \u043d\u0438 \u043d\u0430\u0437\u0432\u0430\u043b\n          const title = getVal(job, 'title') || getVal(job, 'role') || '';\n          const company = getVal(job, 'company') || '';\n          const dates = getVal(job, 'dates') || '';\n\n          // \u0417\u0430\u0449\u0438\u0442\u0430 \u043e\u0442 \u0441\u043a\u043b\u0435\u0438\u0432\u0430\u043d\u0438\u044f (\u0435\u0441\u043b\u0438 \u0418\u0418 \u0437\u0430\u0441\u0443\u043d\u0443\u043b \u043a\u043e\u043c\u043f\u0430\u043d\u0438\u044e \u0432 \u043f\u043e\u043b\u0435 Role)\n          let header = title;\n          if (company && !title.includes(company)) {\n            header += ` | ${company}`;\n          }\n\n          builtMd += `**${header}** | *${dates}*\\n`;\n          \n          const bullets = getVal(job, 'bullets') || getVal(job, 'experience') || [];\n          if (Array.isArray(bullets)) {\n            bullets.forEach(b => builtMd += `* ${b.replace(/\\n/g, ' ').trim()}\\n`);\n          }\n          builtMd += `\\n`;\n        });\n      }\n      \n      megaCvMarkdown = builtMd.trim();\n      isJsonParsed = true;\n    }\n  } catch (e) {\n    // \u0415\u0441\u043b\u0438 JSON \u0431\u0438\u0442\u044b\u0439, \u043c\u043e\u043b\u0447\u0430 \u043f\u0430\u0434\u0430\u0435\u043c \u0432 \u0437\u0430\u043f\u0430\u0441\u043d\u043e\u0439 \u0432\u0430\u0440\u0438\u0430\u043d\u0442 (\u043f\u0430\u0440\u0441\u0438\u043d\u0433 \u0442\u0435\u043a\u0441\u0442\u0430)\n  }\n}\n\n// 3. \u0417\u0430\u043f\u0430\u0441\u043d\u043e\u0439 \u0432\u0430\u0440\u0438\u0430\u043d\u0442 (\u0435\u0441\u043b\u0438 \u043f\u0440\u0438\u0448\u0435\u043b \u0447\u0438\u0441\u0442\u044b\u0439 \u0442\u0435\u043a\u0441\u0442 \u0431\u0435\u0437 JSON)\nif (!isJsonParsed) {\n  megaCvMarkdown = rawOutput.split(/(###\\s*(Education|Languages)|EDUCATION\\n)/i)[0].trim();\n}\n\n// 4. \u0414\u043e\u0441\u0442\u0430\u0435\u043c Base CV \u0434\u043b\u044f \u0441\u0442\u0430\u0442\u0438\u043a\u0438 (\u0438 \u0434\u0430\u043b\u0435\u0435 \u043f\u043e \u0442\u0435\u043a\u0441\u0442\u0443 \u0432\u0430\u0448\u0435\u0433\u043e \u0441\u043a\u0440\u0438\u043f\u0442\u0430...)\nconst baseCv = $('cv-generation-start').first().json.body.baseCv;\n\nfunction extractSection(text, sectionName) {\n  const regex = new RegExp(`###\\\\s*${sectionName}\\\\s*\\\\n([\\\\s\\\\S]*?)(?=###|$)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nfunction extractHeader(text) {\n  const lines = text.trim().split('\\n');\n  const nameLine = lines.find(l => l.startsWith('#')) || lines[0];\n  const contactLine = lines.find(l => l.includes('@') || l.includes('+')) || '';\n  return { \n    name: nameLine.replace(/^#+\\s*/, '').trim(), \n    contacts: contactLine.trim() \n  };\n}\n\nconst education = extractSection(baseCv, 'Education');\nconst languages = extractSection(baseCv, 'Languages');\nconst { name, contacts } = extractHeader(baseCv);\n\n// 5. \u0421\u043e\u0431\u0438\u0440\u0430\u0435\u043c \u0444\u0438\u043d\u0430\u043b\u044c\u043d\u044b\u0439 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\nconst finalMarkdown = `# ${name}\n**${contacts}**\n\n---\n\n${megaCvMarkdown}\n\n### Education\n${education}\n\n### Languages\n${languages}`;\n\n// 6. \u041a\u043e\u043d\u0432\u0435\u0440\u0442\u0438\u0440\u0443\u0435\u043c Markdown \u0432 HTML\nfunction markdownToHtml(md) {\n  const lines = md.split(/\\r?\\n/);\n  const html = [];\n  let inList = false;\n\n  for (let line of lines) {\n    line = line.trim();\n\n    if (!line) {\n      if (inList) { html.push('</ul>'); inList = false; }\n      continue;\n    }\n\n    line = line\n      .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n      .replace(/\\*(.*?)\\*/g, '<em>$1</em>')\n      .replace(/\\[(.*?)\\]\\((.*?)\\)/g, '<a target=\"_blank\" href=\"$2\">$1</a>');\n\n    if (line.startsWith('### ')) {\n      if (inList) { html.push('</ul>'); inList = false; }\n      html.push(`<h3>${line.substring(4)}</h3>`);\n    } else if (line.startsWith('## ')) {\n      if (inList) { html.push('</ul>'); inList = false; }\n      html.push(`<h2>${line.substring(3)}</h2>`);\n    } else if (line.startsWith('# ')) {\n      if (inList) { html.push('</ul>'); inList = false; }\n      html.push(`<h1>${line.substring(2)}</h1>`);\n    } else if (line === '---') {\n      if (inList) { html.push('</ul>'); inList = false; }\n      html.push('<hr>');\n    } else if (line.startsWith('* ') || line.startsWith('- ')) {\n      if (!inList) { html.push('<ul>'); inList = true; }\n      html.push(`<li>${line.substring(2)}</li>`);\n    } else {\n      if (inList) { html.push('</ul>'); inList = false; }\n      if (html.length > 0 && html[html.length - 1].startsWith('<h1>')) {\n        html.push(`<p class=\"contact-info\">${line}</p>`);\n      } else {\n        html.push(`<p>${line}</p>`);\n      }\n    }\n  }\n\n  if (inList) html.push('</ul>');\n  return html.join('\\n');\n}\n\n// 7. \u0424\u043e\u0440\u043c\u0438\u0440\u0443\u0435\u043c HTML \u0438 \u0431\u0438\u043d\u0430\u0440\u043d\u0438\u043a\nconst htmlString = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n<style>\n    /* \u0423\u043c\u0435\u043d\u044c\u0448\u0438\u043b\u0438 \u0442\u043e\u043b\u044c\u043a\u043e font-size, \u043e\u0442\u0441\u0442\u0443\u043f\u044b (margin) \u0438 \u0438\u043d\u0442\u0435\u0440\u0432\u0430\u043b\u044b (line-height) \u043e\u0441\u0442\u0430\u043b\u0438\u0441\u044c \u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u044b\u043c\u0438 */\n    body { font-family: Arial, Helvetica, sans-serif; line-height: 1.4; color: #222; margin: 40px; font-size: 11.5px; } /* \u0411\u044b\u043b\u043e 13px */\n    h1 { text-align: center; margin: 0 0 5px 0; color: #000; font-size: 22px; letter-spacing: 0.5px; } /* \u0411\u044b\u043b\u043e 24px */\n    .contact-info { text-align: center; font-size: 11px; color: #444; margin: 0 0 15px 0; } /* \u0411\u044b\u043b\u043e 12px */\n    hr { border: none; border-top: 1px solid #ddd; margin: 15px 0; }\n    h3 { border-bottom: 1px solid #333; padding-bottom: 2px; margin-top: 15px; margin-bottom: 8px; font-size: 13px; text-transform: uppercase; color: #111; } /* \u0411\u044b\u043b\u043e 14px */\n    p { margin: 4px 0; }\n    ul { margin: 4px 0 10px 0; padding-left: 20px; }\n    li { margin-bottom: 4px; }\n    a { color: #0056b3; text-decoration: none; }\n    strong { color: #000; font-weight: 600; }\n  </style>\n</head>\n<body>\n${markdownToHtml(finalMarkdown)}\n</body>\n</html>`;\n\nconst binaryData = Buffer.from(htmlString, 'utf-8');\n\nreturn [{\n  json: { filename: 'resume.html' },\n  binary: {\n    data: await this.helpers.prepareBinaryData(binaryData, 'index.html', 'text/html')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1616
      ],
      "id": "865443c7-a6a5-436d-9fbe-d7fba5530e2c",
      "name": "make-final-cv-html1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "index.html",
              "value": "data"
            },
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file",
              "outputPropertyName": "cv"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        1616
      ],
      "id": "41e152f5-df2f-413e-9f9f-fa021947615a",
      "name": "make-final-cv-pdf2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Instructions: Tech Networking Expert (Israel)\n\n**Goal:** Write a brief, engaging Personal Note (Introductory Message) for Maxim Krendel targeting a specific company and vacancy. \n\n**Strict Rules:**\n1. **Core Message:** The vibe must be simple and direct: \"Your product/role is interesting, my tech stack matches perfectly, I have relevant background, let's chat.\" Do not over-analyze the JD.\n2. **Length:** Extremely concise. Maximum 3-4 sentences (50-75 words). \n3. **Style & Tone:** \"Israeli High-Tech\" (Tachles) \u2014 friendly, professional, confident, zero corporate fluff. \n4. **Key Elements to Include:**\n   - The target company name.\n   - A quick nod to the stack match (Select 1-2 core technologies from the JD that match the Refined Resume).\n   - A brief mention of experience with \"data-heavy / high-load systems\".\n   - A quick drop of BGU (B.Sc. Information Systems).\n5. **Zero Hallucination:** Do not invent metrics or facts.\n\n**Context Inputs:**\n- Refined Resume: {{ $json.content.parts[0].text }}\n- Target JD: {{ $('cv-generation-start').item.json.body.vacancy }}\n\n## Output Format (STRICT):\nOutput a SINGLE PARAGRAPH of plain text. \n\n**CRITICAL FORMATTING FAILURES (DO NOT DO THIS):**\n- ABSOLUTELY NO JSON. \n- Do NOT output curly braces `{}`.\n- Do NOT output key-value pairs (e.g., \"message\": \"...\").\n- Do NOT wrap the text in markdown code blocks (```).\n- Do NOT add a signature (\"Best, Maxim\").\n\n**REQUIRED TEMPLATE:**\nStart exactly with: \"Hi [Company Name] team, \"\nFollow with 2-3 sentences of content.\nEnd exactly with: \" Would love to connect and discuss.\""
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -192,
        2160
      ],
      "id": "89d41d06-38e2-4fdb-9209-968febfda930",
      "name": "PERSONAL NOTE GENERATION",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. \u0414\u043e\u0441\u0442\u0430\u0435\u043c \u0441\u044b\u0440\u043e\u0439 \u0442\u0435\u043a\u0441\u0442 (\u043f\u043e\u0434\u0434\u0435\u0440\u0436\u0438\u0432\u0430\u0435\u0442 \u0440\u0430\u0437\u043d\u044b\u0435 \u0444\u043e\u0440\u043c\u0430\u0442\u044b \u0432\u044b\u0445\u043e\u0434\u0430 AI-\u043d\u043e\u0434)\nconst rawText = $input.first().json?.content?.parts?.[0]?.text \n             || $input.first().json?.text \n             || $input.first().json?.message?.content \n             || $input.first().json?.content\n             || JSON.stringify($input.first().json);\n\nif (!rawText) {\n  return [{ json: { personal_note: \"\u041e\u0448\u0438\u0431\u043a\u0430: \u043f\u043e\u043b\u0443\u0447\u0435\u043d \u043f\u0443\u0441\u0442\u043e\u0439 \u043e\u0442\u0432\u0435\u0442\" } }];\n}\n\n// 2. \u0421\u0447\u0438\u0449\u0430\u0435\u043c \u043c\u0443\u0441\u043e\u0440, \u0435\u0441\u043b\u0438 \u0418\u0418 \u043e\u0431\u0435\u0440\u043d\u0443\u043b \u043e\u0442\u0432\u0435\u0442 \u0432 markdown-\u0431\u043b\u043e\u043a\u0438\nconst cleanText = rawText.replace(/^```(json|text|markdown)?/im, '').replace(/```$/m, '').trim();\n\nlet finalMessage = \"\";\n\n// 3. \u041f\u044b\u0442\u0430\u0435\u043c\u0441\u044f \u043f\u043e\u043d\u044f\u0442\u044c, JSON \u044d\u0442\u043e \u0438\u043b\u0438 \u043e\u0431\u044b\u0447\u043d\u044b\u0439 \u0442\u0435\u043a\u0441\u0442\ntry {\n  const parsedData = JSON.parse(cleanText);\n  \n  // \u0420\u0435\u043a\u0443\u0440\u0441\u0438\u0432\u043d\u044b\u0439 \u044d\u043a\u0441\u0442\u0440\u0430\u043a\u0442\u043e\u0440: \u043f\u0440\u043e\u0431\u0438\u0432\u0430\u0435\u0442 \u043c\u0430\u0441\u0441\u0438\u0432\u044b \u0438 \u043e\u0431\u044a\u0435\u043a\u0442\u044b \u0434\u043e \u0441\u0430\u043c\u043e\u0439 \u0441\u0442\u0440\u043e\u043a\u0438\n  function extractString(data) {\n    if (typeof data === 'string') return data;\n    if (Array.isArray(data)) return extractString(data[0]); // \u0411\u0435\u0440\u0435\u043c \u043f\u0435\u0440\u0432\u044b\u0439 \u044d\u043b\u0435\u043c\u0435\u043d\u0442 \u043c\u0430\u0441\u0441\u0438\u0432\u0430\n    if (typeof data === 'object' && data !== null) {\n      // \u0418\u0449\u0435\u043c \u043f\u043e\u043f\u0443\u043b\u044f\u0440\u043d\u044b\u0435 \u043a\u043b\u044e\u0447\u0438, \u043a\u043e\u0442\u043e\u0440\u044b\u0435 \u043b\u044e\u0431\u0438\u0442 \u0432\u044b\u0434\u0443\u043c\u044b\u0432\u0430\u0442\u044c \u0418\u0418\n      if (data.message) return extractString(data.message);\n      if (data.note) return extractString(data.note);\n      if (data.text) return extractString(data.text);\n      \n      // \u0415\u0441\u043b\u0438 \u043a\u043b\u044e\u0447\u0438 \u0434\u0440\u0443\u0433\u0438\u0435, \u043f\u0440\u043e\u0441\u0442\u043e \u0431\u0435\u0440\u0435\u043c \u043f\u0435\u0440\u0432\u043e\u0435 \u043f\u043e\u043f\u0430\u0432\u0448\u0435\u0435\u0441\u044f \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435\n      return extractString(Object.values(data)[0]);\n    }\n    return String(data || '');\n  }\n\n  finalMessage = extractString(parsedData);\n\n} catch (e) {\n  // \u0415\u0441\u043b\u0438 JSON.parse \u0432\u044b\u0434\u0430\u043b \u043e\u0448\u0438\u0431\u043a\u0443, \u0437\u043d\u0430\u0447\u0438\u0442 \u0418\u0418 \u043f\u043e\u0441\u043b\u0443\u0448\u0430\u043b\u0441\u044f \u0438 \u0432\u044b\u0434\u0430\u043b \u0447\u0438\u0441\u0442\u044b\u0439 \u0442\u0435\u043a\u0441\u0442!\n  finalMessage = cleanText;\n}\n\n// 4. \u041e\u0442\u0434\u0430\u0435\u043c \u0447\u0438\u0441\u0442\u0443\u044e \u0441\u0442\u0440\u043e\u043a\u0443 \u0432 \u0443\u0434\u043e\u0431\u043d\u043e\u043c \u043a\u043b\u044e\u0447\u0435 \u0434\u043b\u044f \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0438 \u043d\u0430 \u0432\u0430\u0448 \u0431\u044d\u043a\u0435\u043d\u0434\nreturn [{\n  json: {\n    personal_note: finalMessage.trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2160
      ],
      "id": "83fffbf3-b181-4e86-bddd-ac0abdc87f74",
      "name": "make-personal-note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        1872
      ],
      "id": "fcb4ec7b-b867-4917-94a2-3382b2d8e6fe",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/applications/{{$('cv-generation-start').item.json.body.ticketId}}/result",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"x-app-secret\":\"change-me-backend-secret\"\n}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "cv",
              "inputDataFieldName": "cv"
            },
            {
              "parameterType": "formBinaryData",
              "name": "coverLetter",
              "inputDataFieldName": "coverLetter"
            },
            {
              "name": "personalNote",
              "value": "={{ $json.personal_note }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file",
              "outputPropertyName": "cv"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        1888
      ],
      "id": "596e5688-327e-4b8a-a08f-9ef134d936c0",
      "name": "make-final-cv-pdf"
    }
  ],
  "connections": {
    "cv-generation-start": {
      "main": [
        [
          {
            "node": "CV GENERATION EXPRERIENCE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COVER LETTER GENERATION": {
      "main": [
        [
          {
            "node": "make-cover-letter-html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-cover-letter-html": {
      "main": [
        [
          {
            "node": "make-cover-letter-pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-cover-letter-pdf": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CV GENERATION EXPRERIENCE1": {
      "main": [
        [
          {
            "node": "make-final-cv-html1",
            "type": "main",
            "index": 0
          },
          {
            "node": "COVER LETTER GENERATION",
            "type": "main",
            "index": 0
          },
          {
            "node": "PERSONAL NOTE GENERATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-final-cv-html1": {
      "main": [
        [
          {
            "node": "make-final-cv-pdf2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PERSONAL NOTE GENERATION": {
      "main": [
        [
          {
            "node": "make-personal-note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-personal-note": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "make-final-cv-pdf2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "make-final-cv-pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
