infra/n8n/workflows/workflow.seed.json
{
  "id": "pep-workflow-seed",
  "name": "PEP Workflow Seed",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Instructions: Expert Career Coach & Recruiter (Israel)\n\n**Goal:** Write a short, punchy Cover Letter for {{ $('cv-generation-start').item.json.body.fullName }} targeting {{ $('cv-generation-start').item.json.body.companyName }}, perfectly aligned with the Target JD.\n\n---\n\n## Strict Rules:\n1. **Zero Hallucination:** Frame the candidate's achievements in the best possible \n   light, but STRICTLY FORBIDDEN from inventing metrics, technologies, or \n   experiences. Use ONLY facts from the Refined Resume.\n2. **Style & Tone:** \"Israeli High-Tech\" \u2014 direct (Tachles), confident, \n   professional, results-focused. No fluff, no corporate language.\n3. **Length:** Strictly 300-400 words.\n4. **Formatting:** Bold key technologies and measurable results using \n   **text** to make it scannable.\n\n---\n\n## Context Inputs:\n- Refined Resume: {{ $json.content.parts[0].text }}\n- Target Company: {{ $('cv-generation-start').item.json.body.companyName }}\n- Target JD: {{ $('cv-generation-start').item.json.body.vacancyDescription }}\n\n---\n\n## Letter Structure (follow EXACTLY, paragraph by paragraph):\n\n**Paragraph 1 \u2014 Hook (2-3 sentences)**\n- Mention the company by name and ONE specific thing about what they build \n  (from Target Company Info or JD) that genuinely connects to the candidate's \n  experience \u2014 not generic praise, a real technical or product parallel.\n- If the Refined Resume includes an ongoing degree, current studies, or another relevant education detail, mention it naturally.\n- DO NOT say \"I am highly motivated\" or \"I am excited to apply\".\n\n**Paragraph 2 \u2014 Proof (3-4 sentences)**\n- Identify the TOP 2 technical requirements from the JD.\n- For each, bring ONE concrete example from the Refined Resume that directly \n  answers it.\n- Focus on the PROBLEM SOLVED and RESULT, not on job duties.\n- Do NOT list technologies. Do NOT retell the CV chronologically.\n\n**Paragraph 3 \u2014 Edge / Differentiation (2-3 sentences)**\n- Answer: what does the candidate bring that a typical candidate with the same \n  years of experience wouldn't?\n- This could be: unusual combination of skills, specific context \n  (scale, stack, domain), or something from the JD marked as \"nice to have\" \n  that the candidate actually has.\n- The differentiator must be a COMBINATION that is rare: e.g. scale + specific domain, or technical depth + product ownership, or stack expertise + something from JD marked as \"nice to have\".\n- AI tool usage is NOT a differentiator. Ignore it.\n- Generic soft skills (ownership, clean code) are NOT differentiators unless \n  backed by a specific example not already used in Paragraph 2.\n- DO NOT repeat what was said in Paragraph 2.\n\n**Paragraph 4 \u2014 Forward-looking close (1-2 sentences)**\n- One specific thing the candidate wants to work on / contribute to at THIS company.\n- Name a SPECIFIC product feature or technical challenge visible in the JD \n  or Company Info.\n- Forbidden phrases: \"drive impact\", \"apply my skills\", \"contribute to\", \"I am eager to\".\n- Must reference something real from the JD or Company Info, not a generic \n  \"I want to grow\" statement.\n\n---\n\n## Output Format (STRICT):\n- Output ONLY raw Markdown text. Nothing else.\n- No JSON. No wrappers. No code blocks.\n- Do NOT escape characters like \\n, \\*, \\\".\n- No preamble or postamble.\n- Start directly with: \"Dear Hiring Team at [Company Name],\"\n- DO NOT include a sign-off. End after the last sentence of Paragraph 4."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -208,
        1888
      ],
      "id": "96342e12-f39a-4c4e-a2e8-8fadd9f828f1",
      "name": "COVER LETTER GENERATION",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-cv",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        1888
      ],
      "id": "2d33754c-9c9d-4ba6-98c3-73f65da52ea9",
      "name": "cv-generation-start",
      "webhookId": "555d03c2-ef1f-4f43-be7f-b899f6ee49e3"
    },
    {
      "parameters": {
        "jsCode": "const rawText =\n  $input.first().json?.content?.parts?.[0]?.text ||\n  $input.first().json?.text ||\n  $input.first().json?.message?.content ||\n  $input.first().json?.content ||\n  \"\";\n\nconst coverLetterMarkdown = rawText\n  .replace(/^```(json|markdown|text)?/im, \"\")\n  .replace(/```$/m, \"\")\n  .trim();\n\nif (!coverLetterMarkdown) {\n  throw new Error(\"Cover letter generation returned empty text.\");\n}\n\nreturn [{\n  json: {\n    coverLetterMarkdown,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        1888
      ],
      "id": "5c4bf964-850f-477a-817e-89bdc28c852b",
      "name": "make-cover-letter-html"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Instructions: Senior Technical Recruiter Agent (Israel)\n\n**Goal:** Adapt the \"Base CV\" for a specific \"Target JD\" (Job Description) using the \"Work Context\" and target company information. You must update ONLY the Summary, Skills, and Experience sections to perfectly align the candidate with the role.\n\n**Context Inputs:**\n- Base Resume: {{ $('cv-generation-start').item.json.body.baseCv }}\n- Work Context: {{ $('cv-generation-start').item.json.body.workTasks }}\n- Target Company: {{ $('cv-generation-start').item.json.body.companyName }}\n- Target JD: {{ $('cv-generation-start').item.json.body.vacancyDescription }}\n\n## STRICT RULES (CRITICAL):\n1. **Summary (STRICT YoE ACCURACY):** Write a professional summary (3-4 sentences) that highlights alignment with the Target JD. **CRITICAL:** You are STRICTLY FORBIDDEN from inventing or exaggerating the total Years of Experience (YoE). You MUST calculate YoE strictly based on the actual dates provided in the Base CV. If the Target JD asks for 8 years but the Base CV shows 3, you must either write \"3 years of experience\" or omit the exact number entirely. Never fake the timeline.\n2. **Strict Skills Policy (READ CAREFULLY):** - **THE BAN:** You are STRICTLY FORBIDDEN from adding major frameworks, core programming languages, or primary cloud providers (e.g., Angular, Python, AWS, Vue, Java) if they are not explicitly present in the Work Context.\n   - **THE INJECTION:** You MUST extract minor tools, libraries, packages, and methodologies (e.g., Axios, React Query, Jest, Tailwind, CI/CD, Agile, Zod) from the Target JD and actively INJECT them into both the \"Skills\" list and the \"Experience\" bullet points. Do this even if they are not in the Work Context, provided they logically complement the existing tech stack.\n3. **Experience (Job History):** - **KEEP ALL JOBS:** You are STRICTLY FORBIDDEN from deleting any jobs. Every single workplace listed in the Base CV must appear in the final output.\n   - **DETAIL FOCUS:** Write and adapt bullet points ONLY for the 2 or 3 most recent jobs to show alignment with the Target JD. Naturally weave the injected minor tools into these recent bullet points and use bolding for key technologies and measurable metrics (e.g., **+15% performance**). You may adapt the phrasing of your tasks to match the JD's terminology.\n   - **OLDER JOBS:** For jobs beyond the most recent 3, output ONLY the Job Title, Company, and Dates. DO NOT write any bullet points or descriptions for them.\n4. **No JSON:** Return ONLY raw text in the exact Markdown template below. Do not wrap in ```markdown or ```json blocks.\n\n## OUTPUT TEMPLATE (YOU MUST FOLLOW THIS EXACTLY):\n\n### Summary\n[Insert adapted summary here]\n\n### Skills\n**Languages & Core:** [Updated list]\n**Architecture & State:** [Updated list]\n**Frameworks & Libraries:** [Updated list]\n**Styling & UI:** [Updated list]\n**Tools & Infrastructure:** [Updated list]\n**Testing & Quality:** [Updated list]\n\n### Experience\n\n**[Recent Job Title 1] | [Company 1]** | *[Dates 1]*\n* [Adapted bullet point 1]\n* [Adapted bullet point 2]\n* [Adapted bullet point 3]\n\n**[Recent Job Title 2] | [Company 2]** | *[Dates 2]*\n* [Adapted bullet point 1]\n* [Adapted bullet point 2]\n\n[Include the 3rd job with bullet points ONLY if applicable, otherwise move to Older Jobs format below]\n\n**[Older Job Title 3+] | [Older Company]** | *[Older Dates]*\n**[Older Job Title 4+] | [Older Company]** | *[Older Dates]*"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -640,
        1888
      ],
      "id": "e2820faf-b876-4416-bdf2-bdc4fdbffcd8",
      "name": "CV GENERATION EXPRERIENCE1",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rawOutput =\n  $input.first().json?.content?.parts?.[0]?.text ||\n  $input.first().json?.text ||\n  $input.first().json?.message?.content ||\n  \"\";\n\nrawOutput = rawOutput\n  .replace(/^```(json|markdown|text)?/im, \"\")\n  .replace(/```$/m, \"\")\n  .trim();\n\nlet refinedCvMarkdown = \"\";\n\nconst jsonMatch = rawOutput.match(/(\\[[\\s\\S]*\\])|(\\{[\\s\\S]*\\})/);\nlet parsedStructuredOutput = false;\n\nif (jsonMatch) {\n  try {\n    let parsed = JSON.parse(jsonMatch[0]);\n\n    if (Array.isArray(parsed)) {\n      parsed = parsed[0];\n    }\n\n    const getValue = (value, keyName) => {\n      if (!value || typeof value !== \"object\") {\n        return null;\n      }\n\n      const key = Object.keys(value).find(\n        (candidate) => candidate.toLowerCase() === keyName.toLowerCase()\n      );\n\n      return key ? value[key] : null;\n    };\n\n    const summary = getValue(parsed, \"summary\");\n    const skills = getValue(parsed, \"skills\");\n    const experience = getValue(parsed, \"experience\");\n\n    if (summary || experience) {\n      let builtMarkdown = `### Summary\\n${summary || \"\"}\\n\\n### Skills\\n`;\n\n      if (skills && typeof skills === \"object\") {\n        for (const [key, value] of Object.entries(skills)) {\n          const cleanKey = key.includes(\"_\")\n            ? key\n                .split(\"_\")\n                .map((part) => part.charAt(0).toUpperCase() + part.slice(1))\n                .join(\" \")\n                .replace(\" And \", \" & \")\n            : key;\n\n          builtMarkdown += `**${cleanKey}:** ${String(value)}\\n`;\n        }\n      }\n\n      builtMarkdown += `\\n### Experience\\n\\n`;\n\n      if (Array.isArray(experience)) {\n        for (const job of experience) {\n          const title = getValue(job, \"title\") || getValue(job, \"role\") || \"\";\n          const company = getValue(job, \"company\") || \"\";\n          const dates = getValue(job, \"dates\") || \"\";\n\n          let header = title;\n\n          if (company && !title.includes(company)) {\n            header += ` | ${company}`;\n          }\n\n          builtMarkdown += `**${header}** | *${dates}*\\n`;\n\n          const bullets =\n            getValue(job, \"bullets\") || getValue(job, \"experience\") || [];\n\n          if (Array.isArray(bullets)) {\n            for (const bullet of bullets) {\n              builtMarkdown += `* ${String(bullet).replace(/\\n/g, \" \").trim()}\\n`;\n            }\n          }\n\n          builtMarkdown += `\\n`;\n        }\n      }\n\n      refinedCvMarkdown = builtMarkdown.trim();\n      parsedStructuredOutput = true;\n    }\n  } catch {\n    // fall back to plain markdown parsing below\n  }\n}\n\nif (!parsedStructuredOutput) {\n  refinedCvMarkdown = rawOutput\n    .split(/(###\\s*(Education|Languages)|EDUCATION\\n)/i)[0]\n    .trim();\n}\n\nconst baseCv = $('cv-generation-start').first().json.body.baseCv;\n\nfunction extractSection(text, sectionName) {\n  const regex = new RegExp(`###\\\\s*${sectionName}\\\\s*\\\\n([\\\\s\\\\S]*?)(?=###|$)`, \"i\");\n  const match = text.match(regex);\n  return match ? match[1].trim() : \"\";\n}\n\nfunction extractHeader(text) {\n  const lines = text.trim().split(\"\\n\");\n  const nameLine = lines.find((line) => line.startsWith(\"#\")) || lines[0] || \"Candidate\";\n  const contactLine = lines.find((line) => line.includes(\"@\") || line.includes(\"+\")) || \"\";\n\n  return {\n    name: nameLine.replace(/^#+\\s*/, \"\").trim(),\n    contacts: contactLine.trim(),\n  };\n}\n\nconst education = extractSection(baseCv, \"Education\");\nconst languages = extractSection(baseCv, \"Languages\");\nconst { name, contacts } = extractHeader(baseCv);\n\nconst sections = [\n  `# ${name}`,\n  contacts ? `**${contacts}**` : \"\",\n  \"\",\n  \"---\",\n  \"\",\n  refinedCvMarkdown,\n  education ? `### Education\\n${education}` : \"\",\n  languages ? `### Languages\\n${languages}` : \"\",\n].filter(Boolean);\n\nreturn [{\n  json: {\n    cvMarkdown: sections.join(\"\\n\\n\").trim(),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1616
      ],
      "id": "865443c7-a6a5-436d-9fbe-d7fba5530e2c",
      "name": "make-final-cv-html1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Instructions: Tech Networking Expert (Israel)\n\n**Goal:** Write a brief, engaging Personal Note (Introductory Message) for {{ $('cv-generation-start').item.json.body.fullName }} targeting {{ $('cv-generation-start').item.json.body.companyName }} and the vacancy. \n\n**Strict Rules:**\n1. **Core Message:** The vibe must be simple and direct: \"Your product/role is interesting, my tech stack matches perfectly, I have relevant background, let's chat.\" Do not over-analyze the JD.\n2. **Length:** Extremely concise. Maximum 3-4 sentences (50-75 words). \n3. **Style & Tone:** \"Israeli High-Tech\" (Tachles) \u2014 friendly, professional, confident, zero corporate fluff. \n4. **Key Elements to Include:**\n   - The target company name.\n   - A quick nod to the stack match (Select 1-2 core technologies from the JD that match the Refined Resume).\n   - A brief mention of experience with \"data-heavy / high-load systems\".\n   - A quick nod to a relevant education detail from the Refined Resume, if present.\n5. **Zero Hallucination:** Do not invent metrics or facts.\n\n**Context Inputs:**\n- Refined Resume: {{ $json.content.parts[0].text }}\n- Target Company: {{ $('cv-generation-start').item.json.body.companyName }}\n- Target JD: {{ $('cv-generation-start').item.json.body.vacancyDescription }}\n\n## Output Format (STRICT):\nOutput a SINGLE PARAGRAPH of plain text. \n\n**CRITICAL FORMATTING FAILURES (DO NOT DO THIS):**\n- ABSOLUTELY NO JSON. \n- Do NOT output curly braces `{}`.\n- Do NOT output key-value pairs (e.g., \"message\": \"...\").\n- Do NOT wrap the text in markdown code blocks (```).\n- Do NOT add a signature.\n\n**REQUIRED TEMPLATE:**\nStart exactly with: \"Hi [Company Name] team, \"\nFollow with 2-3 sentences of content.\nEnd exactly with: \" Would love to connect and discuss.\""
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -192,
        2160
      ],
      "id": "89d41d06-38e2-4fdb-9209-968febfda930",
      "name": "PERSONAL NOTE GENERATION",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText =\n  $input.first().json?.content?.parts?.[0]?.text ||\n  $input.first().json?.text ||\n  $input.first().json?.message?.content ||\n  $input.first().json?.content ||\n  JSON.stringify($input.first().json);\n\nif (!rawText) {\n  throw new Error(\"Personal note generation returned empty text.\");\n}\n\nconst cleanText = rawText\n  .replace(/^```(json|text|markdown)?/im, \"\")\n  .replace(/```$/m, \"\")\n  .trim();\n\nlet personalNote = \"\";\n\ntry {\n  const parsedData = JSON.parse(cleanText);\n\n  function extractString(data) {\n    if (typeof data === \"string\") return data;\n    if (Array.isArray(data)) return extractString(data[0]);\n    if (typeof data === \"object\" && data !== null) {\n      if (data.message) return extractString(data.message);\n      if (data.note) return extractString(data.note);\n      if (data.text) return extractString(data.text);\n      return extractString(Object.values(data)[0]);\n    }\n    return String(data || \"\");\n  }\n\n  personalNote = extractString(parsedData);\n} catch {\n  personalNote = cleanText;\n}\n\npersonalNote = personalNote.trim();\n\nif (!personalNote) {\n  throw new Error(\"Personal note generation returned empty text.\");\n}\n\nreturn [{\n  json: {\n    personalNote,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2160
      ],
      "id": "83fffbf3-b181-4e86-bddd-ac0abdc87f74",
      "name": "make-personal-note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        1872
      ],
      "id": "fcb4ec7b-b867-4917-94a2-3382b2d8e6fe",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/applications/{{$('cv-generation-start').item.json.body.ticketId}}/result",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-app-secret",
              "value": "__BACKEND_APP_SECRET__"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "personalNote",
              "value": "={{ String($json.personalNote ?? '').trim() }}"
            },
            {
              "name": "cvMarkdown",
              "value": "={{ String($json.cvMarkdown ?? '').trim() }}"
            },
            {
              "name": "coverLetterMarkdown",
              "value": "={{ String($json.coverLetterMarkdown ?? '').trim() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        1888
      ],
      "id": "596e5688-327e-4b8a-a08f-9ef134d936c0",
      "name": "save-application-result"
    }
  ],
  "connections": {
    "cv-generation-start": {
      "main": [
        [
          {
            "node": "CV GENERATION EXPRERIENCE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV GENERATION EXPRERIENCE1": {
      "main": [
        [
          {
            "node": "make-final-cv-html1",
            "type": "main",
            "index": 0
          },
          {
            "node": "COVER LETTER GENERATION",
            "type": "main",
            "index": 0
          },
          {
            "node": "PERSONAL NOTE GENERATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-final-cv-html1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COVER LETTER GENERATION": {
      "main": [
        [
          {
            "node": "make-cover-letter-html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-cover-letter-html": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PERSONAL NOTE GENERATION": {
      "main": [
        [
          {
            "node": "make-personal-note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-personal-note": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "save-application-result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
